{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": false,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"objectWrap": "preserve",
	"quoteProps": "consistent",
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": false,
	"trailingComma": "all",
	"useTabs": true
}
